black
pylint
rope
isort
pytest
pre-commit
flake8
ipykernel
pandas
matplotlib
pip
boto3
seaborn
dash==1.20.0
dash-bootstrap-components==0.12.2
dash-core-components==1.16.0
dash-enterprise-auth==0.0.4
dash-html-components==1.1.3
gunicorn==20.1.0
sklearn
xgboost
